@font-face {
	font-family: IranYekan;
	src: url(../../public/fonts/IRANYekanXFaNum-Light.woff) format('woff');
	font-weight: 300;
}

@font-face {
	font-family: IranYekan;
	src: url(../../public/fonts/IRANYekanXFaNum-Medium.woff) format('woff');
	font-weight: 500;
}

@font-face {
	font-family: IranYekan;
	src: url(../../public/fonts/IRANYekanXFaNum-Bold.woff) format('woff');
	font-weight: 700;
}

@font-face {
	font-family: IranYekan;
	src: url(../../public/fonts/IRANYekanXFaNum-Heavy.woff) format('woff');
	font-weight: 900;
}